.container {
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resizable-boundary {
  position: relative;
  height: 100%;
}

.resizable-boundary > .top,
.resizable-boundary > .bottom,
.resizable-boundary > .left,
.resizable-boundary > .right {
  z-index: 1;
  position: absolute;
}

.resizable-boundary > .top,
.resizable-boundary > .bottom {
  height: 2px;
  top: 0;
  left: 0;
  right: 0;
  cursor: row-resize;
}

.resizable-boundary > .bottom {
  top: unset;
  bottom: 0;
  height: 2px;
}

.resizable-boundary > .left,
.resizable-boundary > .right {
  width: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  cursor: col-resize;
}

.resizable-boundary > .right {
  left: unset;
  right: 0;
}

.resizable-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  z-index: 0;
}
